.profile {
  margin: 20px auto;
  padding: 20px;
  width: 40%;
  border: 1px solid black;
}

.profile:hover {
  transition: ease-in 1s;
  border: 1px solid red;
}

.profile-header {
  text-align: center;
}

.profile-header:hover {
  color: red;
  transition: ease-in 1s;
}

.profile-para {
  text-align: center;
}